@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background: hsl(185, 41%, 84%);
  color: hsl(184, 14%, 56%);
  font-family: "Space Mono", monospace;
}

input {
  font: inherit;
  text-align: right;
  color: inherit;
}

input, input:focus {
  outline: none;
  border: none;
}

button {
  font: inherit;
  border: none;
  color: inherit;
}

main {
  padding-top: 52px;
}

.logo {
  width: 85px;
  display: block;
  margin: 0px auto 35px;
}

.main__wrapper {
  text-align: left;
  background: hsl(0, 0%, 100%);
  padding: 28px 30px 30px;
  border-radius: 25px;
}

.main-label {
  display: inline-block;
  font-size: 0.95em;
  margin-bottom: 5px;
}

.main-input-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: hsl(189, 41%, 97%);
  border: 2px solid hsl(189, 41%, 97%);
  border-radius: 5px;
  margin-bottom: 30px;
}
.main-input-wrapper:hover {
  border: 2px solid hsl(172, 67%, 45%);
}

.main-image-container {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 18px;
}

.bill-input {
  padding: 5px;
  padding-right: 17px;
  width: 100%;
  color: hsl(183, 100%, 15%);
  font-size: 1.4em;
  background: inherit;
  border-radius: inherit;
}

.button-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
}

.tip-button {
  height: 45px;
  color: hsl(0, 0%, 100%);
  background: hsl(183, 100%, 15%);
  font-size: 1.4em;
  border-radius: 7px;
}
.tip-button:hover {
  background: #95eadf;
  color: hsl(183, 100%, 15%);
}

.custom-input {
  padding-right: 17px;
  border-radius: 7px;
  width: 100%;
  background: hsl(189, 41%, 97%);
  font-size: 1.4em;
}
.custom-input:hover {
  border: 2px solid hsl(172, 67%, 45%);
}

.result-wrapper {
  background: hsl(183, 100%, 15%);
  border-radius: 15px;
  padding: 30px 20px 20px;
}

.result-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.result-label {
  font-size: 0.9em;
  color: hsl(0, 0%, 100%);
}

.per-label {
  font-size: 0.8em;
}

.result-value {
  font-size: 1.9em;
  color: hsl(172, 67%, 45%);
}

.reset-button {
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  font-size: 1.2em;
  width: 100%;
  background: hsl(172, 67%, 45%);
  padding: 10px;
  border-radius: 5px;
}
.reset-button:hover {
  background: #95eadf;
}